.venv

# ignore migrations
*.sqlite3

# ignore pycache
__pycache__
# Ignore migrations
migrations/

# Ignore Vscode settings
.vscode

# ignore json data
mysite_data.json

# Ignore the media directory
/media